* {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight:bold;
  color:white;
}

.background_green {
  background-color: mediumspringgreen;
}

.background_pink {
  background-color: lightcoral;
}

.background_blue {
  background-color: skyblue;
}

.price {
  color: blue;
  font-weight: bold;
}
